/* Fonts */
@font-face {
    font-family: Prism;
    src: url(/TiltPrism-Regular.ttf);
}

@font-face {
    font-family: Shadow;
    src: url(/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: Inter Tight;
    src: url(/InterTight-VariableFont_wght.ttf);
}

@font-face {
    font-family: herof;
    src: url(/JurusNinja-vmrv9.otf);
}

@font-face {
    font-family: Rubik;
    src: url(/RubikBurned-Regular.ttf);
}


/* Cursor */
.cursor-dot{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    pointer-events: none;
    mix-blend-mode:exclusion;
}

/* General */
a{
    text-decoration: none;
}

button{
    border: none;
    background: none;
}

/* SideBar */
#side_bar {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #101010;
    position: fixed;
    z-index: 90;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#links_sidebar{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 70%;
    position: absolute;
    top: 8%;
    padding: 20px;
}

#links_sidebar .sidelink {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-family: Inter Tight;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

#links_sidebar .sidelink span{
    color: #62cd6f;
    padding-right: 10px;
}

.hideSidebar{
    visibility: hidden;
    display: none;
}

.showsidebar{
    visibility: visible;
    animation: popup 0.7s;
}


@keyframes popup {
    0%{
        left: -50%;
    }
    100%{
        left: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Header */
header {
    top: 0;
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
    padding: 30px 100px 30px 100px;
}

#logo{
    width: 60px;
    height: 60px;
    flex: 1;
}

#logo img{
    height: 60px;
    width: auto;
    border-radius: 50%;
}

#logo img:hover{
    animation: rotate 1s ease;
}

header nav{
    display: flex;
    padding: 40px;
    border-radius: 80px;
    justify-content: space-evenly ;
    background-color: #1e1e1e;
    gap: 8px;
    height: 100%;
}


.contacticon{
    width: 150px;
    display: flex;
}

.contacticon a{
    flex: 1;
    text-align: center;
    font-size: 18px;
    color: #b9b9b9;
    font-family: Inter Tight;
    text-align: center;
    border: #FFFFFF solid 1px;
    padding: 15px;
    border-radius: 80px;
    transition: 0.3s;
}
.contacticon a:hover{
    color: #ffffff;
    background-color: #22ae5a;
}

header nav a.navlink{
    padding: 15px;
    font-size: 18px;
    color: #b9b9b9;
    font-family: Inter Tight;
    text-align: center;
}

header nav .active{
    background-color: rgb( 255, 255, 255, 0.1);
    filter:contrast(500%);
    border-radius: 80px;
}

header nav a.navlink:hover{
    color: #EAEAEA;
}

#lista{
    color: #fff;
    border: none;
    font-size: 45px;
    visibility: hidden;
    display: none;
}

.rotate svg{
    animation: rotate 1s forwards;
}

/* Home */
#home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4%;
    flex-direction: column;
}

.bio{
    width: 100%;
    height: 50%;
    opacity: 88;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.bio h1{
    color: #22ae5a;
    font-family: Rubik;
    font-size: 100px;
}

.bio .d{
    color: #FFFFFF;
    font-family: Inter Tight;
    font-size: 100px;
}

.profile{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 89%;
}

.profile img{
    width: auto;
    height: 100%;
}

/* Contact */
#contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form p{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: Shadow;
}

#contact form #nameinput ,
#contact form #emailinput ,
#contact form #phoneinput,
#contact form #submit,
#contact form #contentinput{
    width: 250px;
    height: 120px;
    margin: 20px auto;
}
#contact form #nameinput #name,
#contact form #emailinput #email{
    width: 250px;
    height: 35px;
    background: none;
}

#submit{
    text-align: center;
}

::placeholder{
    color: #EAEAEA;
    font-size: 12px;
    letter-spacing: 2px;
}

::-webkit-input-placeholder{
    color: #EAEAEA;
    font-size: 12px;
    letter-spacing: 2px;
}

input[type="submit"]{
    padding: 20px 32px;
    font-size: 16px;
    background: #62cd6f;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 25px;
}

input[type="text"],
input[type="email"]{
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    background: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid #EAEAEA;
    color: #EAEAEA;
}

#contact h2{
    font-weight: 700;
    font-size: 70px;
    color: #62cd6f;
    text-align: center;
    font-family: Prism;
}

#message{
    background: #ffffff;
    width: 250px;
    height: 100px;
    font-size: 17px;
}

/* About */
#about{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#about .cv{
    /* width: 85%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

#about .maintitle h1{
    color: #22ae5a;
    font-family: Inter Tight;
    font-size: 70px;
}

#about .cv .someinfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* top: 40%; */
    width: 100%;
    font-family: Inter Tight;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    font-size: auto;
    z-index: 1;
}

#about .cv .someinfo p{
    width: 100%;
    font-weight: bolder;
    font-size: 38px;
    padding: 20px;
}

#green{
    color: #22ae5a;
}

#about .cv .myphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about .cv .myphoto img{
    width: 50%;
    height: auto;
    filter: drop-shadow(0 0 0.75rem gray);
    border-radius: 10px;
    opacity: 0.7;
    /* z-index: 1; */
}

#breaker{
    background-color: #EAEAEA;
    width: 70%;
    height: 1px;
}

#cirt{
    width: 60%;
    display: flex;
    gap: 25px;
    overflow: hidden;
    justify-content: start;
    align-items: center;
}

#cirtifications p{
    color: #ffffff;
    font-size: 34px;
    font-family: Shadow;
    text-align: center;
}

#cirt::-webkit-scrollbar{
    width: 0;
}

#cirtphoto{
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    transition: 0.7s ease;
}

#cirtphoto:hover{
    filter: blur(0);
}

img{
    width: 100%;
    height: auto;
}

/* #about #cv{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

#profileimage{
    width: 500px;
    height: 500px;
    background: url(/about.jpg) no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50px;
}

#maincirtria{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

#maincirtria h1{
    color: #62cd6f;
    font-family: Prism;
    font-size: 100px;
    text-align: center;
}

#maincirtria h3{
    color: #EAEAEA;
    font-family: Shadow;
    font-size: 70px;
    text-align: center;
}

#maincirtria h5{
    color: #ffffff;
    font-size: 40px;
    font-family: Prism;
}

#maincirtria h5 span{
    color: #62cd6f;
    font-size: 50px;
}

#maincirtria  .word{
    color: #ffffff;
    font-size: 40px;
    font-family: Shadow;
    width: 700px;
    overflow: scroll;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
} */

/* projects */
#projects{
    min-height:  100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects #container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#projects #container .title h1{
    color: #22ae5a;
    font-family: Inter Tight;
    font-size: 70px;
}

#projects #container .title p{
    color: #FFFFFF;
    font-family: Inter Tight;
    font-size: 25px;
    text-align: center;
}

#projects #container h2{
    font-size: 30px;
    font-family: Inter Tight;
    color: #FFFFFF;
    flex: 1;
    width: 90%;
}

#projects #container .linksforproject{
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    position: relative;
}

#projects #container .linksforproject .logo{
    width: 160px;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}
#projects #container .linksforproject .namew{
    width: 200px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: Inter Tight;
    text-transform: uppercase;
}

#projects #container h2{
    width: 83%;
    /* background-color: #0a66c2; */
}

#projects #container .linksforproject a{
    font-family: Inter Tight;
    font-size: 20px;
    color: #22ae5a;
    text-align: end;
}

#projects #container .works{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#projects #container .works .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*  */
/* #skillicon{
    width: 500px;
    font-size: 100px;
    text-align: center;
}

#skills h3{
    color: #EAEAEA;
    font-family: Shadow;
    font-size: 70px;
    text-align: center;
} */

/* #skillicon span svg:hover{
    color: rgb(114, 252, 114);
}

#skillicon span{
    padding-left: 20px;
}

#js {
    color: #efd81d;
}

#react {
    color: #4cd0f3;
}

#node {
    color: #22ae5a;
}

#py{
    color: #4579a4;
} */

/* .iconarrow{
    color: #EAEAEA;
    font-size: 50px;
    font-weight: 900;
} */

/* #container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */

/* Footer */
#footer{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

#footer .links {
    height: 15vh;
    /* width: 100vw; */
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    padding-top: 40px;
}

#footer .links a{
    padding-left: 20px;
    text-decoration: none;
}

#facebook{
    color: #1877f2;
}
#whatsapp{
    color: #62cd6f;
}
#instagram{
    color: #f501c0;
}
#github{
    color: #b9b9b9;
}
#linkedin{
    color: #0a66c2;
}

#footer .Copyright {
    width: 100%;
    height: 5vh;
    background-color: #4ba155;
    color:#ffffff;
    text-align: center;
    padding-top: 6px;
    font-weight: 800;
    font-size: 19px;
}

/* Resources */
#Resources {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#Resources h2{
    color: #FFFFFF;
    width: 50%;
}

#Resources .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
    gap: 50px;
}

#Resources .content .title h1{
    font-size: 65px;
    font-family: Inter Tight;
    color: #22ae5a;
}

#Resources .content .title p{
    text-align: center;
    font-size: 25px;
    font-family: Inter Tight;
    color: #FFFFFF;
}

#Resources .content h2{
    font-size: 30px;
    font-family: Inter Tight;
    color: #FFFFFF;
    flex: 1;
    width: 90%;
}

h1{
    text-transform: uppercase;
}

#Resources .content .tools,
#Resources .content .setups{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
}

#Resources .content .tools .tool,
#Resources .content .setups .setup{
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

#Resources .content .tools .tool .description,
#Resources .content .setups .setup .description{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 10px;
}

#Resources .content .tools .tool h1,
#Resources .content .setups .setup h1{
    font-size: 20px;
    font-family: Inter Tight;
    color: #FFFFFF;
    text-transform: uppercase;
    /* flex: 1; */
}

#Resources .content .tools .tool p,
#Resources .content .setups .setup p{
    font-size: 18px;
    font-family: Inter Tight;
    color: #BDBDBD;
    text-transform: lowercase;
    /* flex: 1; */
}

#Resources .content .tools .tool a{
    font-size: 18px;
    font-family: Inter Tight;
    color: #22ae5a;
    text-transform: lowercase;
    /* flex: 1; */
}

#Resources .content .tools .tool .icon img,
#Resources .content .setups .setup img{
    height: 160px;
    width: 160px;
}

#Resources .content .setups .setup img{
    border-radius: 10px;
}

/* Blog */
#blog,
#learn{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 60px;
    font-family: Inter Tight;
}

/* responsive */

/* Mobile */
@media (max-width: 950px) {
    header{
        padding: 30px;
    }
    header nav,
    .contacticon{
        display: none;
    }
    #lista{
        display: block;
        visibility: visible;
    }

    #cirtifications #container .iconarrow{
        display: none;
    }

    #navabout{
        display: none;
    }

    #home .box {
        min-height: 100vh;
        width: 100%;
        padding-top: 68px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home h1{
        font-size: 40px;
    }
    #home h3.first{
        font-size: 40px;
    }
    #home h3.second{
        font-size: 25px;
    }

    #about #cv{
        flex-direction: column;
    }
    #about #profileimage{
        width: 250px;
        height: 250px;
        margin: auto;
    }
    #about #maincirtria #education .word{
        width: 80vw;
        margin: auto;
        font-size: 35px;
    }
    #skillicon{
        width: 100%;
        font-size: 80px;
    }
    #about h1{
        font-size: 60px;
    }
    #about h5{
        font-size: 30px;
    }

    #contact{
        width: 100%;
    }

    #footer .links{
        width: 100%;
        font-size: 35px;
    }
}

@media  (min-width:577px) and (max-width: 768px){
    #cirtifications #container .iconarrow{
        display: none;
    }

    #navabout{
        display: none;
    }

    #home .box {
        min-height: 100vh;
        width: 100%;
        padding-top: 68px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home h1{
        font-size: 40px;
    }
    #home h3.first{
        font-size: 40px;
    }
    #home h3.second{
        font-size: 25px;
    }

    #about #cv{
        flex-direction: column;
    }
    #about #profileimage{
        width: 300px;
        height: 300px;
        margin: auto;
    }
    #about #maincirtria #education .word{
        width: 90vw;
        margin: auto;
        font-size: 35px;
    }
    #skillicon{
        font-size: 80px;
    }
    #about h1{
        font-size: 60px;
    }
    #about h5{
        font-size: 30px;
    }

    #contact{
        width: 100vw;
    }

    #footer .links{
        width: 100%;
        font-size: 35px;
    }
}

@media  (min-width:769px) and (max-width: 992px) {
    #cirtifications #container .iconarrow{
        display: none;
    }
    #home .box {
        min-height: 100vh;
        width: 100%;
        padding-top: 68px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home h1{
        font-size: 40px;
    }
    #home h3.first{
        font-size: 40px;
    }
    #home h3.second{
        font-size: 25px;
    }

    #about #cv{
        flex-direction: column;
    }
    #about #profileimage{
        width: 400px;
        height: 400px;
        margin: auto;
    }
    #about #maincirtria #education .word{
        width: 90vw;
        margin: auto;
        font-size: 35px;
    }
    #skillicon{
        font-size: 80px;
    }
    #about h1{
        font-size: 100px;
    }
    #about h5{
        font-size: 50px;
    }

    #contact{
        width: 100vw;
    }

    #footer .links{
        width: 100%;
        font-size: 35px;
    }
}

@media  (min-width:993px) and (max-width: 1200px) {
    #home .box {
        min-height: 100vh;
        width: 100%;
        padding-top: 68px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home h1{
        font-size: 40px;
    }
    #home h3.first{
        font-size: 40px;
    }
    #home h3.second{
        font-size: 25px;
    }

    #about #cv{
        flex-direction: column;
    }
    #about #profileimage{
        width: 400px;
        height: 400px;
        margin: auto;
    }
    #about #maincirtria #education .word{
        width: 90vw;
        margin: auto;
        font-size: 35px;
    }
    #skillicon{
        /* width: 100vw; */
        font-size: 80px;
    }
    #about h1{
        font-size: 100px;
    }
    #about h5{
        font-size: 50px;
    }

    #contact{
        width: 100%;
    }

    #footer .links{
        width: 100%;
        font-size: 35px;
    }
}

@media (min-width:1201px) and (max-width:1400px){
    #home .box {
        min-height: 100vh;
        width: 100vw;
        padding-top: 68px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home h1{
        font-size: 40px;
    }
    #home h3.first{
        font-size: 40px;
    }
    #home h3.second{
        font-size: 25px;
    }

    #about #profileimage{
        width: 400px;
        height: 400px;
        margin: auto;
    }
    #about #maincirtria #education .word{
        width: 40vw;
        margin: auto;
        font-size: 35px;
    }
    #skillicon{
        font-size: 80px;
    }
    #about h1{
        font-size: 100px;
    }
    #about h5{
        font-size: 50px;
    }

    #contact{
        width: 100vw;
    }

    #footer .links{
        width: 100vw;
        font-size: 35px;
    }
}
