/* Fonts */
@font-face {
    font-family: Prism;
    src: url(/TiltPrism-Regular.ttf);
}

@font-face {
    font-family: Shadow;
    src: url(/ShadowsIntoLight-Regular.ttf);
}

/* General */
a{
    text-decoration: none;
}

button{
    border: none;
    background: none;
}

/* SideBar */
#side_bar {
    min-width: 100vw;
    min-height: 95vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9131300;
    backdrop-filter: blur(100px);
    top: 6.5vh;
    position: fixed;
}

#links_sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#links_sidebar .sidelink {
    text-decoration: none;
    color: #fff;
    font-size: 75px;
    font-family: Shadow;
    color: #fff;
    
}

#links_sidebar .sidelink span{
    color: #62cd6f;
    padding-right: 10px;
}

.hideSidebar{
    visibility: hidden;
    display: none;
    transform: scale(0);
}

.showsidebar{
    visibility: visible;
}

.showsidebar #links_sidebar{
    animation: popup 0.7s forwards;
}

@keyframes popup {
    0%{
    transform: scale(1);
    }
    50%{
    transform: scale(1.4);
    }
    60%{
    transform: scale(1.1);
    }
    70%{
    transform: scale(1.2);
    }
    80%{
    transform: scale(1);
    }
    90%{
    transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Header */
header {
    position: fixed;
    display: flex;
    min-width: 100vw;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    background: #010409;
}

#logo{
    color:#fff;
    font-family: Prism;
    font-size: 50px;
    color: #62cd6f;
    cursor: pointer;
}

#logo:hover{
    color: rgb(70, 255, 70);
}

header nav{
    display: flex;
    padding-left: auto;
}

header nav a.navlink{
    padding: 15px;
    font-weight: 800;
    font-size: 35px;
    color: #b9b9b9;
    font-family: Shadow;
}

header nav a.navlink:hover{
    color: #EAEAEA;
}

#lista{
    color: #fff;
    border: none;
    font-size: 45px;
    cursor: pointer;
    display: none;
}

.rotate svg{
    animation: rotate 1s forwards;
}

/* Section */
section {
    background: #010409;
    /* padding-top: 100px; */
}
/* Home */
#home{
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items:center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1{
    color: #EAEAEA;
    font-size: 100px;
    font-family: Prism;
    text-align: center;
}

#home h3.first{
    font-size: 85px;
    font-family: Shadow;
    color: #fff;
    text-align: center;
}

#home h3.second{
    font-size: 50px;
    font-family: Shadow;
    color: #fff;
    text-align: center;
}

#profile-image {
    width: 250px;
    height: 250px;
    background: url(/MainIslam.jpg) no-repeat;
    background-position:top;
    background-size: cover;
    border-radius: 50%;
}

/* Contact */
#contact{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form p{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: Shadow;
}

#contact form #nameinput ,
#contact form #emailinput ,
#contact form #phoneinput,
#contact form #submit,
#contact form #contentinput{
    width: 250px;
    height: 120px;
    margin: 25px auto;
}
#contact form #nameinput #name,
#contact form #emailinput #email{
    width: 250px;
    height: 35px;
    background: none;
}

#submit{
    text-align: center;
}

::placeholder{
    color: #EAEAEA;
    font-size: 12px;
    letter-spacing: 2px;
}

::-webkit-input-placeholder{
    color: #EAEAEA;
    font-size: 12px;
    letter-spacing: 2px;
}

input[type="submit"]{
    padding: 20px 32px;
    font-size: 16px;
    background: #62cd6f;
    border: none;
    border-radius: 4px;
    color: #fff;
}

input[type="text"],
input[type="email"]{
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    background: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid #EAEAEA;
    color: #EAEAEA;
}

#contact h2{
    font-weight: 700;
    font-size: 70px;
    color: #62cd6f;
    text-align: center;
    font-family: Prism;
}

#message{
    background: #ffffff;
    width: 250px;
    height: 100px;
    font-size: 17px;
}

/* About */
#about{
    min-height:100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
    padding-top: 25vh;
}

#about #cv{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#profileimage{
    width: 500px;
    height: 500px;
    background: url(/Islam.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

#maincirtria{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

#maincirtria h1{
    color: #62cd6f;
    font-family: Prism;
    font-size: 100px;
    text-align: center;
}

#maincirtria h3{
    color: #EAEAEA;
    font-family: Shadow;
    font-size: 70px;
    text-align: center;
}

#maincirtria h5{
    color: #ffffff;
    font-size: 40px;
    font-family: Prism;
}

#maincirtria h5 span{
    color: #62cd6f;
    font-size: 50px;
}

#maincirtria  .word{
    color: #ffffff;
    font-size: 40px;
    font-family: Shadow;
    width: 700px;
    overflow: scroll;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

#projects h1{
    color: #62cd6f;
    font-family: Prism;
    font-size: 100px;
    text-align: center;
}

#skillicon{
    width: 500px;
    font-size: 100px;
    cursor: pointer;
}

#skills h3{
    color: #EAEAEA;
    font-family: Shadow;
    font-size: 70px;
    text-align: center;
}

#skillicon span svg:hover{
    color: rgb(114, 252, 114);
}

#skillicon span{
    padding-left: 20px;
}

#js {
    color: #efd81d;
}

#react {
    color: #4cd0f3;
}

#node {
    color: #22ae5a;
}

#py{
    color: #4579a4;
}

#linksforproject{
    text-align: center;
}

#linksforproject .linksproject{
    color: #b9b9b9;
    text-decoration: none;
    font-size: 40px;
    font-family: Shadow;
}

#linksforproject .linksproject:hover{
    color: #fff;
}

/* Footer */
#footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
}

#footer .links {
    height: 15vh;
    width: 100vw;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    padding-top: 55px;
}

#footer .links a{
    padding-left: 20px;
    text-decoration: none;
}

#facebook{
    color: #1877f2;
}
#whatsapp{
    color: #62cd6f;
}
#instagram{
    color: #f501c0;
}
#github{
    color: #b9b9b9;
}
#linkedin{
    color: #0a66c2;
}

#footer .Copyright {
    width: 100vw;
    height: 5vh;
    background-color: #4ba155;
    color:#ffffff;
    text-align: center;
    padding-top: 15px;
    font-weight: 800;
    font-size: 19px;
}

/* responsive */
@media only screen and (max-width: 375px){
    #home .box{
        margin-top: 50px;
        gap: 50px;
    }
    #home .box h1{
        font-size: 45px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home .box .first,
    #home .box .second{
        font-size: 45px;
    }

    #side_bar{
        margin-top: 1.5vh;
    }

    #lista{
        display: block;
        cursor: pointer;
    }
    header nav{
        display: none;
    }
    #about{
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding-top: 100vh;
    }
    #about  #maincirtria h1,
    #about #projects h1{
        font-size: 75px;
    }
    #about #cv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 160vh;
    }
    #about #cv div #profileimage{
        width: 30vh;
        height: 30vh;
        margin: auto;
    }
    #about #cv div #skills #skillicon{
        width: 100vw;
        font-size: 70px;
        text-align: center;
    }
    #projects{
        margin-top: 230vh;
    }
    #education{
        width: 45vh;
    }
    #maincirtria{
        margin-top: 50px;
    }
    #maincirtria #education .word{
        width: 42vh;
    }
}



@media screen and (max-width: 399px) and (min-width: 300px) and (min-height:800px){
    #home .box{
        margin-top: 50px;
        gap: 50px;
    }
    #home .box h1{
        font-size: 45px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home .box .first,
    #home .box .second{
        font-size: 45px;
    }

    #lista{
        display: block;
        cursor: pointer;
    }
    header nav{
        display: none;
    }
    #about{
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding-top: 70vh;
    }
    #about  #maincirtria h1,
    #about #projects h1{
        font-size: 75px;
    }
    #about #cv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100vh;
    }
    #about #cv div #profileimage{
        width: 30vh;
        height: 30vh;
        margin: auto;
    }
    #about #cv div #skills #skillicon{
        width: 100vw;
        font-size: 70px;
        text-align: center;
    }
    #projects{
        margin-top: 140vh;
    }
    #education{
        width: 45vh;
    }
    #maincirtria{
        margin-top: 50px;
    }
    #maincirtria #education .word{
        width: 42vh;
    }
}


@media screen and (max-width: 380px) and (min-width: 300px) and (max-height:760px) and (min-height: 700px){
    #home .box{
        margin-top: 50px;
        gap: 50px;
    }
    #home .box h1{
        font-size: 45px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home .box .first,
    #home .box .second{
        font-size: 45px;
    }

    #lista{
        display: block;
        cursor: pointer;
    }
    header nav{
        display: none;
    }
    #about{
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding-top: 80vh;
    }
    #about  #maincirtria h1,
    #about #projects h1{
        font-size: 75px;
    }
    #about #cv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 115vh;
    }
    #about #cv div #profileimage{
        width: 30vh;
        height: 30vh;
        margin: auto;
    }
    #about #cv div #skills #skillicon{
        width: 100vw;
        font-size: 70px;
        text-align: center;
    }
    #projects{
        margin-top: 170vh;
    }
    #education{
        width: 45vh;
    }
    #maincirtria{
        margin-top: 50px;
    }
    #maincirtria #education .word{
        width: 42vh;
    }
}


@media screen and (max-width: 700px) and (min-width: 400px) {
    #home .box{
        margin-top: 50px;
        gap: 50px;
    }
    #home .box h1{
        font-size: 45px;
    }
    #home .box #profile-image{
        width: 200px;
        height: 200px;
    }
    #home .box .first,
    #home .box .second{
        font-size: 45px;
    }
    #lista{
        display: block;
        cursor: pointer;
    }
    header nav{
        display: none;
    }
    #about{
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding-top: 60vh;
    }
    #about  #maincirtria h1,
    #about #projects h1{
        font-size: 75px;
    }
    #about #cv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 85vh;
    }
    #about #cv div #profileimage{
        width: 30vh;
        height: 30vh;
        margin: auto;
    }
    #about #cv div #skills #skillicon{
        width: 100vw;
        font-size: 70px;
        text-align: center;
    }
    #projects{
        margin-top: 110vh;
    }
    #education{
        width: 45vh;
    }
    #maincirtria{
        margin-top: 50px;
    }
    #maincirtria #education .word{
        width: 42vh;
    }
}

@media screen and (max-width:1200px) and (min-width:700px){
    #about{
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding-top: 50vh;
    }
    #about  #maincirtria h1,
    #about #projects h1{
        font-size: 75px;
    }
    #about #cv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50vh;
    }
    #about #cv div #profileimage{
        width: 50vh;
        height: 50vh;
        margin: auto;
    }
    #about #cv div #skills #skillicon{
        width: 100vw;
        font-size: 70px;
        text-align: center;
    }
    #projects{
        margin-top: 70vh;
    }
    #education{
        width: 45vh;
    }
    #maincirtria{
        margin-top: 50px;
    }
    #maincirtria #education .word{
        width: 42vh;
    }
}